<!DOCTYPE html>
 <html lang="ar"
 <head>
    <meta charset="UTF-8"
    <title>نبدة تعريفية عني .</title>
    <style>
        body {
            background-color: bisque;
            font-family: 'Arial':Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: center;
            margin-top: 50px;
        }

    </style>
 </head>
 <body>
    <h1>من انا ؟</h1>
    <p>انا مؤيد ظافر الاسمري متعلم برمجة </p>
    <a href="/"><button>ارجع لصفحة البداية</button></a>
</body>
 </html>