<!DOCTYPE html>
<html lang="ar">
    <head>
        <meta charset="UTF-8"
    <title>اول صفحة لي ك مبرمج مبتدء 🌠</title>
    <style>
        body {
            background-color: #946a6a;
            font-family: 'Arial', 'Cairo', sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        </style>
        <head>
            <body>
                <h1>اهلا بالعالم</h1>
                <p>اول مشروع لي في البرمجة</p>

            <a href="https://t.me/osky_0">
             <button>متجري على التيليقرام 🤩</button>
             </a>
             
             <a href="/about"<button>نبدة شخصية عني ؟</button>
             </a>
            <body>
        </html>